/*
    Author: Vrushabh Dhatrak
    Release: 0.1
    Description : Filter Page CSS
*/
.filter_container {
    margin:0;
    padding:0;
    display: grid;
    height: 100vh;
    grid-template-columns:30rem 1fr;
    
    grid-template-areas: 
    "header header"
    "filter_results filter_results"
    "filter_aside cards_section"
    "footer footer"
    ;
}
/* Header Component For Entire Project */
.header_container {
    grid-column: header;
}

/* Filter Results For Entire Project */
.filter_results {
    grid-column: filter_results;
    margin: 15rem 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* Side Filter For Entire Project */
.filter_aside {
    grid-column:filter_aside;
    background: #fff;
    box-shadow: 1px 2px 1px 2px rgb(0 0 0 / 10%);
    border-radius: 1rem;
    
}
.filter_aside .filter_aside_header {
    display:flex;
    justify-content:space-evenly
}
.filter_aside .filter_aside_header > div:hover {
    text-decoration:underline;
    color: var(--primary-color);
    cursor: pointer;
}

/* cards section For Entire Project */
.cards_section {
    grid-column:cards_section;
    display: flex;
    justify-content: center;
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, 30rem);
}


/* footer section For Entire Project */
.footer {
    grid-column:footer;
}

