/*
    Author: Vrushabh Dhatrak
    Release: 0.1
    Description : Wishlist CSS
*/
.wishlist_container {
    margin:0;
    padding:0;
    display: grid;
    height: 100vh;
    grid-template-columns:1fr;
    
    grid-template-areas: 
    "header"
    "wishlist_results"
    "wishlist_cards"
    "footer"
    ;
}

.wishlist_results {
    grid-column: wishlist_results;
    margin: 15rem 0 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.wishlist_cards_container {
    margin: 2rem 9rem;
    grid-column: wishlist_cards;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, 25rem);
}

.footer {
    grid-column: footer;
}